.container {
    background-color: rgb(192, 117, 117);
}
  
.close {
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.prod-info {
    display: flex;
}

.img-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.price {
    background-color: brown;
    width: 60%;
    height: 40px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    margin: 10px;
}

.descript {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 50px;
}

mat-card-content {
    word-wrap: break-word;
    overflow: hidden;
}

mat-card-title {
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: right;
    padding: 15px;
}

.btns button {
    margin: 10px;
}

.checked{
    color: orange;
}

mat-icon {
    cursor: pointer;
}