.container {
    background-color: rgb(108, 158, 158);
}

.close {
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.imgydesc {
    display: flex;
    padding: 10px;
}

mat-card-content {
    word-wrap: break-word;
    overflow: hidden;
}

mat-card-title {
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: right;
    padding: 15px;
}

.btns button {
    margin: 10px;
}