<app-header></app-header>

<body>

<div *ngIf= "images && images.length > 0" class="carousel-container">
  <a [routerLink]="['/products']" routerLinkActive="router-link-active"><img *ngFor="let image of images; let i = index" src="{{image.src}}" alt="{{image.alt}}" [ngClass]="{'image-active': selectIndex === i}" class="fade"></a>
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i = index" class="dot" [ngClass]="{'active': selectIndex === i}" (click)="selectImg(i)"> 
        </span>
    </div>
</div>

<section id="hero"> 
    <div class="nos"> 
        <h1>NOSOTROS</h1>
        <p>Somos una empresa familiar que se dedica hace años a la comercialización y distribución de tanto
            repuestos como accesorios para automóviles. Buscamos lograr que el cliente se haga de las mejores
            opciones del mercado para una experiencia satisfactoria a la hora de reparar o adornar su vehículo.
            Nuestros empleados están completamente capacitados y son sumamentes idóneos para asesorar y
            recomendar a quien lo necesite.
            Trabajamos con las mejores marcas.</p>
        <img class="marcas" src="../../../assets/img/marcas-repuestos.jpg" alt="Marcas">
    </div>
    <div class="repyacc">
        <div class="repuestos">
            <a [routerLink]="['/products']" routerLinkActive="router-link-active"><button>REPUESTOS</button></a>
        </div>
        <div class="accesorios">
            <a [routerLink]="['/products']"><button>ACCESORIOS</button></a>
        </div>
    </div>
</section>

<h2>BEST SELLERS...</h2>
<section class="bestS">
  <mat-card *ngFor="let product of bestS" style="background-image: url({{product.img}});background-size:contain; background-repeat: no-repeat" class="card">
    <span>
      <p>{{product.name}}</p>
      <button (click)="openDialogMore(product)" mat-raised-button color="warn">VER MÁS</button>
    </span>
  </mat-card>
</section>

<app-footer></app-footer>

</body>