.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: rgb(108, 158, 158);
}

mat-form-field {
    margin-top: 15px;
}

mat-hint {
    font-size: 10px;
}

.btns {
    display: flex;
    justify-content: center;
    background-color: rgb(108, 158, 158);
}

button {
    margin: 15px 15px;
}