<div [formGroup]="formProduct">
    <div class="container">
        <h3 *ngIf="!product.canEdit">AGREGAR UN PRODUCTO</h3>
        <h3 *ngIf="product.canEdit">EDITAR PRODUCTO</h3>
        <div class="camps">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Producto</mat-label>
                    <input formControlName="name" type="text" matInput placeholder="Ej.: Repuesto/Accesorio">
                    <mat-hint>*Ingrese el nombre del producto.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input formControlName="price" type="number" matInput placeholder="Ej.: 2500">
                    <mat-hint>*Ingrese solo números, no signos.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Stock</mat-label>
                    <input formControlName="stock" type="number" matInput placeholder="Ej.: 50">
                    <mat-hint>*Cantidad disponible del producto.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Imágen</mat-label>
                    <input formControlName="img" type="text" matInput placeholder="Ej.: https://google.com/image">
                    <mat-hint>*Ingrese un link de referencia.</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea formControlName="descript" type="text" placeholder="Ej.: Este producto sirve para..."
                        matInput></textarea>
                    <mat-hint>*Ingrese una descripción.</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="btns">
            <button mat-dialog-close mat-button>Cancelar</button>
            <button *ngIf="!product.canEdit" (click)="createProd()" mat-flat-button color="warn">Añadir</button>
            <button *ngIf="product.canEdit" (click)="editProd()" mat-flat-button color="warn">Editar</button>
        </div>
    </div>